In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("Questionarre.csv")

In [3]:
df=df.iloc[:22,:4]
df.tail()

,Labels,Indication of state,Unnamed: 2,Questions
16,Fear,NaN,Q16,"Do you feel trouble falling or staying asleep,..."
17,Surprise,NaN,Q17,How often have you experienced shock or surpri...
18,Surprise,NaN,Q18,How often have you felt completely surprised o...
19,Nuetral,NaN,Q19,"How often have you felt emotionally neutral, n..."
20,Nuetral,NaN,Q20,How often have you felt indifferent about situ...

In [ ]:
answers=[]
for i in df.index:
    print(df.loc[i,"Questions"])
    print("Chooses integer 1 among any of the following options:\n 1) Not at all \n 2) Several days \n 3) More than half the days \n 4) Nearly every day\n")
    x=((input()))
    answers.append(x)
df["answers"]=answers

Do you get pleaseure in doing what you had always seen as interest ? For instance your hobbies like playing any sport, reading novel etc.
Chooses 1 among any of the following options:
 1) Not at all
 2) Several days
 3) More than half the days
 4) Nearly every day

In [11]:
answers=[i for i in range(21)]

In [12]:
df["answers"]=answers

In [50]:
dfg= df.groupby("Labels")

x=dfg.agg({"answers":"mean"}).values.flatten()
x
df_ans=pd.DataFrame(x,columns=["answers"])

In [52]:
df_ans["labels"]=dfg.groups.keys()

In [64]:
score=df_ans.loc[df_ans["answers"]==max(df_ans["answers"]),"labels"].values[0]